<%= render '/shared/nav' %>

<% if params[:id] == "0" %>
	<form action="#" method="get"
		onsubmit="
			username = document.getElementById('twitter-username').value;
			console.log(username);
			window.location = '/users/'+username+'/recent-tweets';
			return false;
		">
		<label for="twitter-username">Twitter Username:</label>
		<input id="twitter-username" type="text" />
		<input type="submit" value="submit" />
	</form>
<% else %>
	<a href="/users/0/recent-tweets">â† Search Again</a>
	<h1><%= @username %></h1>
	<h2>20 Most Recent Tweets</h2>
	<ol>
	<% @tweets.each do |tweet| %>
		<li><%= raw tweet %></li>
	<% end%>
	</ul>
<% end %>
